/* bootstap fix for responsive tables */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}


body {
    padding: 4vw;
    text-align: center
}


aside.error { padding: 1rem }

body > h1 { color: darkred }
body > h2 {
    color: darkblue;
    margin-bottom: 3rem;
}

h1, h2 { margin: 0.3rem }


body > hr { border: 2px solid darkred }

.error {
    display: inline-block;
    padding: 0.3rem;
    margin-top: 1rem;

    color: red;
    font-weight: bold;
    border: 1px solid red;
}


thead { font-weight: bold }
